.f-template-404 .title {
  color: rgba(var(--olive));
  text-transform: none;
  margin: 0;
}
.f-template-404 .subtitle {
  color: rgba(var(--olive));
  font-family: var(--font-family-heading);
  margin: var(--spacing-16) 0;
  padding-left: var(--spacing-8);
  padding-right: var(--spacing-8);
}
.f-template-404 a.btn {
  margin: 0;
  min-width: 20rem;
}
@media (max-width: 640px) {
  .f-section.f-template-404 {
    margin: var(--spacing-10) var(--spacing-8) 0;
    padding: 5.8rem 0;
  }
}
@media (min-width: 641px) {
  .f-section.f-template-404 {
    padding: 15rem 0;
    margin: var(--spacing-30) var(--spacing-20) 0;
  }
}
